# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Desktop-PC\Desktop\Cloud\IT\Education\Self-Learning\Angular\Tutorial\Angular_Java_eCommerce\ecommerce-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
